.map {
    position: absolute;
    top: 11%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

/* .map2 {
    position: absolute;
    top: 11%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
} */

.subheading {
    font-size: 30px;
    font: 'Calibri';
    -webkit-text-fill-color: #d1f6fb;
    font-weight: bold;
    position: relative;
    margin: 20px 10px 10px 110px;
}

.subheading1 {
    font-size: 30px;
    font: 'Calibri';
    -webkit-text-fill-color: #d1f6fb;
    font-weight: bold;
    position: relative;
    margin: 0px 0 20px 1px;
}

.map-overlay-search {
    position: relative;
    font: 16px/20px 'Calibri';
    background: rgba(177, 226, 227, 0.7);
    top: 0;
    left: 0;
    width: 285px;
    margin: 10px 0 0 10px;
    padding: 10px;
    /*around elements inside of overlay*/
    overflow: visible;
    box-shadow: 5px 5px 5px rgba(54, 52, 52, 0.511);
    border-radius: 10px;
}

.geocoder {
    position: relative;
        margin: 10px 0 10px;
}

#returnbutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}


.map-overlay-data {
    position: relative;
    font: 16px/20px 'Calibri';
    background: rgba(177, 227, 178, 0.7);
    width: 285px;
    top: 0;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: visible;
    box-shadow: 5px 5px 5px rgba(54, 52, 52, 0.511);
    border-radius: 10px;
}

.map-overlay-data2 {
    position: relative;
    font: 16px/20px 'Calibri';
    background: rgba(177, 227, 178, 0.7);
    width: 285px;
    top: 0;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: visible;
    box-shadow: 5px 5px 5px rgba(54, 52, 52, 0.511);
    border-radius: 10px;
}

.legend {
    position: absolute;
    display: none;
    /*set to none so that when a checkbox is clicked it's turned on*/
    background-color: #fff;
    border-radius: 10px;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(54, 52, 52, 0.511);
    /* hotizontal, vertical, size, color*/
    font: 16px/20px 'Calibri';
    padding: 10px;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

/*styling of the rows of the legend*/
.legend div span {
    display: inline-block;
    border-radius: 0%;
    /*0% to make it a square*/
    height: 10px;
    /*size of square*/
    width: 10px;
    margin-right: 5px;
    /*position of square*/
}

.LSTlegend {
    position: absolute;
    display: none;
    /*set to none so that when a checkbox is clicked it's turned on*/
    background-color: #fff;
    border-radius: 10px;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(54, 52, 52, 0.511);
    /* hotizontal, vertical, size, color*/
    font: 16px/20px 'Calibri';
    padding: 10px;
    right: 120px;
    z-index: 1;
}

.LSTlegend h4 {
    margin: 0 0 10px;
}

/*styling of the rows of the legend*/
.LSTlegend div span {
    display: inline-block;
    border-radius: 0%;
    /*0% to make it a square*/
    height: 10px;
    /*size of square*/
    width: 10px;
    margin-right: 5px;
    /*position of square*/
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #c9f2f6;
    font: 20px/40px 'Calibri';
}

/* Navbar links */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    /* border: 5px solid #fff !important;  */
    box-shadow: #0b6365 1px 0 10px;
    text-decoration: none;
}

/* Tiles on Learn More tab and buttons */
:root {
    --gradient: linear-gradient(to left top, #1ec283 10%, #210551 90%) !important;
}

body {
    background: #065044 !important;
}

.card {
    background: #ffffff;
    border: 1px solid #0ec0cd;
    color: rgba(19, 95, 71, 0.8);
    margin-bottom: 2rem;
}

.btn,
.btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    text-decoration: none;

}

.btn:hover {
    box-shadow: #0b6365 1px 0 10px;
}